
<div class="header_search" style="background-image: url(<%= image_path('breakfast.png') %>)" >
  <%= render '/shared/search-bar' %>
    <!-- <button class="btn-flat-download-index ml-3">
      <%#= link_to "Télécharger" %>
    </button> -->
</div>

<div class="fil-ariane-bar">
  <p id="accueil">Accueil</p>
    <i class="fas fa-chevron-right"></i>
  <p>Données</p>
    <i class="fas fa-chevron-right"></i>
  <p>Alimentation</p>
    <i class="fas fa-chevron-right"></i>
  <p><strong>"<%= params[:query] %>"</strong></p>
</div>



<!-- <button class="btn-flat-download-index ml-3"> -->
    <%#= link_to "Trier par score", :controller => :aliments, :action => :order_by_name, :query => params[:query]%>
<!-- </button> -->
<!-- <div class="container"> -->
<%#= render '/shared/filters' %>
<!-- </div> -->

<div class="search-agribalyse-title-container">
  <h1 class="title-search">Résultats de votre recherche pour <strong>"<%= params[:query] %>"</strong></h1>
  <p class="number-results"><%= @aliments.count %> résultats</p>
</div>

<p class="ml-4 mt-2"> Trier par :
  <a class="tri-criteria-name">
      <%= link_to "nom", :controller => :aliments, :action => :index, :sort => :alim_nom_fr, :query => params[:query]%>
  </a>

  <a class="tri-criteria-name">
      <%= link_to "score", :controller => :aliments, :action => :index, :sort => :created_at, :query => params[:query]%>
  </a>
</p>


  <div class="results">
    <div class="result-summary">
      <h4>Fruits, légumes, légumineuses et oléagineux</h4>
      <h4>Viandes, œufs, poissons</h4>
      <h4>Entrées et plats composés</h4>
      <h4>Matières grasses</h4>
      <h4>Produits céréaliers</h4>
      <h4>Lait et produits laitiers</h4>
      <h4>Boissons</h4>
      <h4>Aliments infantiles</h4>
      <h4>Produits sucrés</h4>
      <h4>Glaces et sorbets</h4>
      <h4>Aides culinaires et ingrédients divers</h4>
    </div>
    <div class="product-card-container">
      <% @aliments.each do |alim| %>

        <div class="product-card">
          <div class="product-card-header">
            <div class="product-title-category">
            <h2><%= alim.alim_nom_fr[0..30] %></h2>
            <p><%= alim.alim_ssgrp_nom_fr %></p>
            </div>
            <div class="ecoscore">
                <p class="cate">Score</p>
                <h3 class="score"><%= alim.score %></h3>
            </div>
          </div>

          <div class="product-card-infos">

            <p class="impact m-3 text-center"><strong>IMPACT ENVIRONNEMENTAL</strong></p>


            <div class="metrics-score-infos">
              <div class="3-metrics">
                <p class="metric">Changement climatique : <strong><%=alim.indic_1 %></strong></p>
                <p class="metric">Appauvrissement de la couche d'ozone : <strong><%=alim.indic_2 %></strong></p>
                <p class="metric">Exposition aux particules fines : <strong><%=alim.indic_3 %></strong></p>
              </div>
            </div>

            <button class="button-details-product-fiche">
              <%= link_to "Détails", aliment_path(alim) %>
            </button>
          </div>
        </div>

      <% end %>
    </div>
  </div>




