
<div class="header_search">
  <%= render '/shared/search-bar' %>
    <button class="btn-flat-download-index ml-3">
      <%= link_to "Télécharger" %>
    </button>
</div>

<div class="fil-ariane-bar">
  <p id="accueil">Accueil</p>
    <i class="fas fa-chevron-right"></i>
  <p>Données</p>
    <i class="fas fa-chevron-right"></i>
  <p>Alimentation</p>
    <i class="fas fa-chevron-right"></i>
  <p><strong>"<%= params[:query] %>"</strong></p>
</div>
<!-- <div class="container"> -->
<%#= render '/shared/filters' %>
<!-- </div> -->
<div class="search-agribalyse-title-container">
  <h1 class="title-search">Résultats de votre recherche pour "<%= params[:query] %>"</h1>
  <p class="number-results"><%= @aliments.count %> résultats</p>
</div>

  <div class="product-card-container">
    <% @aliments.each do |alim| %>

      <div class="product-card">
        <div class="product-card-header">
          <h2><%= alim.alim_nom_fr %></h2>
          <p><%= alim.alim_ssgrp_nom_fr.capitalize %></p>
        </div>

        <div class="product-card-infos">

          <p class="impact m-2">IMPACT ECOLOGIQUE</p>


          <div class="metrics-score-infos">
            <div class="3-metrics">
              <p class="metric">hello</p>
              <p class="metric">hello</p>
              <p class="metric">hello</p>
            </div>
            <div class="ecoscore">
              <h3>45</h3>
            </div>
          </div>

          <button class="button-details-product-fiche">
            <%= link_to "Voir détails" %>
          </button>


        </div>
      </div>

    <% end %>
  </div>




