<h1><%= @aliment.alim_nom_fr.capitalize %></h1>
<p><%= @aliment.alim_grp_nom_fr %></p>
<p><%= @aliment.alim_ssgrp_nom_fr %></p>
<p><%= @aliment.indic_1 %></p>
<p><%= @aliment.indic_2 %></p>
<p><%= @aliment.indic_3 %></p>
