<div class="header_search"  >
  <%= render '/shared/search-bar' %>
    <!-- <button class="btn-flat-download-index ml-3">
      <%#= link_to "Télécharger" %>
    </button> -->

    <div class="ml-5">

  </div>
</div>

<div class="fil-ariane-bar">
  <p id="accueil" class="fil-ariane-texte"><a href="/agribalyse">Accueil</a></p>
   <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte"><a href="/aliments">Rechercher dans la base</a></p>

    <i class="fas fa-chevron-right"></i>
  <p><strong>"<%= @aliment.alim_nom_fr %>"</strong></p>
</div>

<div class="aliment-section d-flex  mt-5 ml-5 flex-column">
  <div class="aliment-section-titre">
      <h2 class="mb-3"><%= @aliment.alim_nom_fr.capitalize %></h2>
        <div class="section-badge d-inline-flex">
          <p class="badge badge-info mr-3"><%= link_to @aliment.alim_grp_nom_fr, aliments_path(:query => @aliment.alim_grp_nom_fr)%></p>
          <p class="badge badge-warning mr-3"><%= link_to @aliment.alim_ssgrp_nom_fr, aliments_path(:query => @aliment.alim_ssgrp_nom_fr)%></p>
          <p class="badge badge-danger mr-3"><%= link_to @aliment.alim_ssssgrp_nom_fr, aliments_path(:query => @aliment.alim_ssssgrp_nom_fr)%></p>
        </div>





    <!-- INDICATEURS    -->


      <!-- <h5 class="mt-3">Détail de l’impact environnemental</h5> -->

<!--       <button type="button" class="btn btn-secondary mb-3 mt-3" data-container="body" data-toggle="popover" data-placement="right" data-content="Data Quality Ratio : indicateur de robustesse des données s'échelonnant entre 1 -qualité excellente, à 5 -qualité faible. Le niveau de robustesse est considéré comme bon pour des DQR de 3 et inférieurs.">
        DQR : <%= @aliment.dqr %>
      </button> -->


    <!-- TEST JAUGE  -->


</div>

<div class="d-flex flex-row">
  <div class="aliment-card">
        <h5 class="mb-3">Score environnemental</h5>
        <div class="d-flex flex-row align-items-baseline mb-2"><h1><%= @aliment.score.round(2)%></h1></div>
        <p style="font-size: 12px; margin-bottom: 30px;">Sans unité, plus le score est bas plus son impact sur l'environnement est faible. Ce score unique est une moyenne pondérée des 14 indicateurs, calculé selon la méthodologie européenne « PEF » (Product Environmental Footprint)</p>
        <a href="" style="color: black; font-weight: bolder; font-size: 14px; margin-bottom: 1em;">Détail de la pondération</a>
  </div>

  <div class="aliment-card">
      <h5 class="mb-3">Impact par étapes du cycle de vie</h5>

      <!-- graphique impact etape -->
        <div class="d-flex flex-column impact-etape">
          <!-- agriculture -->
          <div class="d-flex align-items-baseline">
            <div style="font-size: 16px; margin-right: 10px;">🚜</div>
          <hr class="Agriculture" style="width: 240px;"></hr>
        </div>

            <p style="font-size: 11px;">Agriculture</p>

          <div class="d-flex align-items-baseline">
            <div style="font-size: 16px; margin-right: 10px;">⚗</div>
            <hr class="Transformation" style="width: 200px;"></hr>
          </div>

            <p style="font-size: 11px;">Transformation</p>

            <div class="d-flex align-items-baseline">
              <div style="font-size: 16px; margin-right: 10px;">🍬</div>
              <hr class="Emballage" style="width: 100px;"></hr>
            </div>

              <p style="font-size: 11px;">Emballage</p>

            <div class="d-flex align-items-baseline">
              <div style="font-size: 16px; margin-right: 10px;">🚥</div>
              <hr class="Transport" style="width: 50px;"></hr>
            </div>

              <p style="font-size: 11px;">Transport</p>

            <div class="d-flex align-items-baseline">
              <div style="font-size: 16px; margin-right: 10px;">🏬</div>
              <hr class="Distribution" style="width: 10px;"></hr>
            </div>

            <p style="font-size: 11px;">Distribution</p>

        </div>
      <!-- fin graphique impact etape -->


  </div>

  <div class="aliment-card">
      <div class="d-flex flex-row align-items-start"><i class="far fa-lightbulb mr-3" style="font-size: 40px;"></i><h5 class="mb-4">Comment comprendre ces données ?</h5></div>
      <p style="font-size: 12px; margin-bottom: 10px;">Ces chiffres ont été établis en suivant la méthode du d’analyse du cycle de vie (ACV).</p>
      <p style="font-size: 12px; margin-bottom: 30px;">Pour comprendre les valeurs présentées et les modes d’analyse, vous pouvez consulter notre documentation.</p>
      <%= link_to "Documentation", 'https://ecolab.gitbook.io/documentation-agribalyse/', target: "_blank", class:"btn btn-yellow", style:"height: fit-content; width: fit-content; font-size: 12px; background-color: grey" %>
      <a href="" style="color: black; font-weight: bolder; font-size: 14px; margin-bottom: 1em;">Télécharger la base</a>
  </div>

</div>
</div>

  <!-- dqr -->


<div class="d-flex jauge mt-5">
    <p class="mr-3 niveau">👍🏼  0</p>
    <div class="jauge-contour"></div>
    <p class="ml-3 niveau">5  👎🏼</p>
    <div class="dqr-position" type="button"  data-container="body" data-toggle="popover" data-placement="right" data-content="Niveau de fiabilité de la donnée, ou DQR pour 'Data Quality Ratio' : indicateur de robustesse des données s'échelonnant entre 1 -qualité excellente, à 5 -qualité faible. Le niveau de robustesse est considéré comme bon si <= 3"style="left: calc(60px + <%= @aliment.dqr %> * 40px);"><p><%= @aliment.dqr %></p></div>
</div>
        <div style="font-size: 13px; padding-left: 107px; margin-bottom: 5px;">Niveau de fiabilité de la donnée</div>


<!-- fin dqr -->


  <div class="tableau-donnees-bloc d-inline-flex m-5">
    <div class="aliments-array mb-5">
      <div class="array-header d-flex">
              <div class="array-header-column">
                <h4>Indicateur</h4>
              </div>

              <div class="array-header-column">
                <h4>Mesure</h4>
              </div>

              <div class="array-header-column">
                <h4>Unité</h4>
              </div>


            </div>

            <%# @aliments.each do |alim| %>

            <div class="aliments-card d-flex" id="aliment-div-1">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Potentiel réchauffement climatique global calculant le forçage radiatif à horizon 100ans. Le forçage radiatif est la mesure du déséquilibre
entre l'énergie qui arrive chaque seconde sur terre
et celle qui repart. Il vaut 3,1 W/m² (Watt par m²)
pour l’effet de serre et - 0,8 W/m² pour les
aérosols, soit 2,3 W/m² en tout. (source : IPCC 2007)"style="width: 300px;" >
                Changement climatique
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_1 %>
              </div>

              <div class="aliment-infos">
                kg CO2 eq / kg product
              </div>

             </div>

             <div class="aliments-card d-flex" id="aliment-div-16">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Rareté des ressources en énergies fossiles et ressources non renouvelables comparées à une «base de réserve». Cette réserve de base recoupe les ressources qu'il est physiquement et chimiquement possibles d'exploiter grâce aux techniques de forrage actuelles. (source : van Oers et al.
2002)" style="width: 300px;">
                Consommation d'énergie et ressources non renouvelable
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_16 %>
              </div>

              <div class="aliment-infos">
                kg Sb eq / kg product
              </div>


             </div>

             <div class="aliments-card d-flex" id="aliment-div-5">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Quantification de l'impact des particules et des inorganiques respirables dans l'air causant morts ou handicaps prématurées. (source : Rabl and
Spadaro 2004)" style="width: 300px;">
                Emissions de particules
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_5 %>
              </div>

              <div class="aliment-infos">
                kg PM2.5 eq / kg product
              </div>

             </div>

             <div class="aliments-card d-flex" id="aliment-div-15">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Consommation des ressources en eau conduisant à son épuisement et causant pénurie d'eau douce entre autres. (source : Swiss
Ecoscarcity
2006)" style="width: 300px;">
                Consommation d'eau
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_15 %>
              </div>

              <div class="aliment-infos">
                m3 water eq / kg product
              </div>


             </div>

             <div class="aliments-card d-flex" id="aliment-div-14">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Calculé sur les delta de présence des matières organiques dans le sol ou SOM (Soil organic matter) mesuré en measured in (kg C/m2/a). L'impact sur la biodiversité n'est pas comptabilisé dans ce data set. (source : Mila i Canals et
al. 2007)" style="width: 300px;">
                Usage des terres
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_14 %>
              </div>

              <div class="aliment-infos">
                kg C deficit / kg product
              </div>


             </div>

             <div class="aliments-card d-flex" id="aliment-div-2">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Amincissement voire disparition de la couche d'ozone (variété allotropique de l'oxygène) qui résulte d'un déséquilibre entre la production et la destruction de l’ozone dans la stratosphère.  cet ozone est très important pour nous car il bloque
95% des UV-B qui sont dangereux pour notre santé car ils cassent la molécule d’ADN (cancers de la peau, problème
de cornée etc.). (source : World
Meteorological
Organization
(WMO) 1999)" style="width: 300px;">
                Appauvrissement de la couche d'ozone
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_2 %>
              </div>

              <div class="aliment-infos">
                kg CFC-11 eq / kg product
              </div>


             </div>

             <div class="aliments-card d-flex" id="aliment-div-9">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Quand le CO2 se dissout dans l'océan et le sol, il se transforme en H2CO3 puis en HCO3-. Cela a pour effet d'acidifier l'océan et les terres (le pH baisse). Si le pH baisse, la formation de calcaire devient
plus difficile, ce qui a des externalités négatives sur la biodiversité.">
                Acidification
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_9 %>
              </div>

              <div class="aliment-infos">
                molc H+ eq / kg product
              </div>


             </div>

             <div class="aliments-card d-flex" id="aliment-div-8">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Expression d'une potentielle contribution à la formation d'une ozone photochimique. Uniquement pour l'Europe, inclut une différenciation spatiale. (source: van Zelm et al.
2008)">
               Oxydation photochimique
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_8 %>
              </div>

              <div class="aliment-infos">
                kg NMVOC eq / kg product
              </div>


             </div>
<!--              <div class="aliments-card d-flex" id="aliment-div-3">
              <div class="aliment-infos infos-titre">
                Toxicité pour l'homme, sans effet cancérogène
              </div>

              <div class="aliment-infos">
                <%#= @aliment.indic_3 %>
              </div>

              <div class="aliment-infos">
                CTUh / kg product
              </div>
             </div> -->

             <!-- <div class="aliments-card d-flex" id="aliment-div-4">
              <div class="aliment-infos infos-titre">
               Toxicité pour l'homme, avec effet cancérogène
              </div>

              <div class="aliment-infos">
                <%#= @aliment.indic_4 %>
              </div>

              <div class="aliment-infos">
                CTUh / kg product
              </div>
             </div> -->

              <div class="aliments-card d-flex" id="aliment-div-10">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Processus par lequel des nutriments s'accumulent dans les sols. Tout sols vivant et fonctionnels contient au moins un peu d'eau. Les plantes terrestres pompent de l'azote et du phosphore dans l'eau, et les sols perdent une partie de leurs nutriments dans l'eau, qui transportent aussi de l'azote et du phosphore issu des excrétas, excrément, urines et de la décomposition de la matière organique et de la nécromasse. Uniquement pour pays européens.">
                Eutrophisation terrestre
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_10 %>
              </div>

              <div class="aliment-infos">
                molc N eq / kg product
              </div>


             </div>

              <div class="aliments-card d-flex" id="aliment-div-12">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Processus par lequel des nutriments s'accumulent dans les mers et océans.">
                Eutrophisation marine
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_12 %>
              </div>

              <div class="aliment-infos">
                kg N eq / kg product
              </div>


             </div>

              <div class="aliments-card d-flex" id="aliment-div-11">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Processus par lequel des nutriments s'accumulent dans les rivières.">
                Eutrophisation eau douce
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_11 %>
              </div>

              <div class="aliment-infos">
                kg P eq / kg product
              </div>


             </div>

             <div class="aliments-card d-flex" id="aliment-div-6">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="Quantification de l'impact
de l'ionisation sur la population, en comparaison avec l'Uranium 235. (source: Frischknecht
et al. 2000)">
                Ionisation radiation HH
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_6 %>
              </div>

              <div class="aliment-infos">
                kBq U235 eq / kg product
              </div>



             </div>

             <div class="aliments-card d-flex" id="aliment-div-7">
              <div class="aliment-infos infos-titre" type="button" data-toggle="popover" data-placement="top" data-content="??? Expressing an estimate of the
potentially affected fraction
of species (PAF) integrated
over time and volume per
unit mass of a radionucleide
emitted (PAF m3 day/kg).
Fate of radionucleide based
on USEtox consensus model
(multimedia model).
Relevant for freshwater
ecosystems. (source: GarnierLaplace et al.
2008)">
                Ionisation radiation E
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_7 %>
              </div>

              <div class="aliment-infos">
                CTUe / kg product
              </div>



             </div>






              <!-- <div class="aliments-card d-flex" id="aliment-div-13">
              <div class="aliment-infos infos-titre">
                Ecotoxicité eau douce
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_13 %>
              </div>

              <div class="aliment-infos">
                CTUe / kg product
              </div>
             </div> -->

   </div>



    <div class="mb-5" style="background-image: url(<%= image_path("Agribalyse-LaitOeufs.jpg") %>); background-position: center; margin-left: 91px; width: 457px; height: 130vh; background-attachment: fixed; background-size: cover;"></div>



  </div>
</div>

<!-- autres produits memes categories -->


<div id="carouselExampleIndicators" style="background-color: #EECF94; height: fit-content;" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="padding: 40px;">

<h4 class="mb-3">Produits similaires dans la base</h4>
<!--     produit cousin 1 -->
    <div class="carousel-item active">
      <div class="d-flex flex-row justify-content-around">

        <div class="product-card-container">
                  <div class="product-card" style="background-color: #EEBF3D; margin-left: 100px;">
                    <div class="product-card-header">
                      <div class="product-title-category">
                      <h2>Fromage brebis</h2>
                      <p class="badge-cate" id="text-badge">Fromage</p>
                      </div>
                    </div>
                    <div class="ecoscore">
                      <p class="cate">Score environnemental</p>
                      <h3 class="score">0.14</h3>
                    </div>
                  </div>
          </div>

          <div class="product-card-container">
                    <div class="product-card" style="background-color: #749353; margin-left: 70px;">
                      <div class="product-card-header">
                        <div class="product-title-category">
                        <h2>Fromage brebis</h2>
                        <p class="badge-cate" id="text-badge">Fromage</p>
                        </div>
                      </div>
                      <div class="ecoscore">
                        <p class="cate">Score environnemental</p>
                        <h3 class="score">0.14</h3>
                      </div>
                    </div>
            </div>

            <div class="product-card-container">
                      <div class="product-card" style="background-color: #EA5B2E; margin-right: 100px;">
                        <div class="product-card-header">
                          <div class="product-title-category">
                          <h2>Fromage brebis</h2>
                          <p class="badge-cate" id="text-badge">Fromage</p>
                          </div>
                        </div>
                        <div class="ecoscore">
                          <p class="cate">Score environnemental</p>
                          <h3 class="score">0.14</h3>
                        </div>
                      </div>
              </div>

        </div>


    </div>
<!--     produit cousin 2 -->
    <div class="carousel-item">
      <div class="d-flex flex-row justify-content-around">

        <div class="product-card-container">
                  <div class="product-card" style="background-color: #EA5B2E; margin-left: 100px;">
                    <div class="product-card-header">
                      <div class="product-title-category">
                      <h2>Fromage brebis</h2>
                      <p class="badge-cate" id="text-badge">Fromage</p>
                      </div>
                    </div>
                    <div class="ecoscore">
                      <p class="cate">Score environnemental</p>
                      <h3 class="score">0.14</h3>
                    </div>
                  </div>
          </div>

          <div class="product-card-container">
                    <div class="product-card" style="background-color: #EEBF3D; margin-left: 70px;">
                      <div class="product-card-header">
                        <div class="product-title-category">
                        <h2>Fromage brebis</h2>
                        <p class="badge-cate" id="text-badge">Fromage</p>
                        </div>
                      </div>
                      <div class="ecoscore">
                        <p class="cate">Score environnemental</p>
                        <h3 class="score">0.14</h3>
                      </div>
                    </div>
            </div>

            <div class="product-card-container">
                      <div class="product-card" style="background-color: #749353; margin-right: 100px;">
                        <div class="product-card-header">
                          <div class="product-title-category">
                          <h2>Fromage brebis</h2>
                          <p class="badge-cate" id="text-badge">Fromage</p>
                          </div>
                        </div>
                        <div class="ecoscore">
                          <p class="cate">Score environnemental</p>
                          <h3 class="score">0.14</h3>
                        </div>
                      </div>
              </div>

        </div>


    </div>

<!--     produit cousin 3 -->
    <div class="carousel-item">
      <div class="d-flex flex-row justify-content-around">

        <div class="product-card-container">
                  <div class="product-card" style="background-color: #EA5B2E; margin-left: 100px;">
                    <div class="product-card-header">
                      <div class="product-title-category">
                      <h2>Fromage brebis</h2>
                      <p class="badge-cate" id="text-badge">Fromage</p>
                      </div>
                    </div>
                    <div class="ecoscore">
                      <p class="cate">Score environnemental</p>
                      <h3 class="score">0.14</h3>
                    </div>
                  </div>
          </div>

          <div class="product-card-container">
                    <div class="product-card" style="background-color: #749353; margin-left: 70px;">
                      <div class="product-card-header">
                        <div class="product-title-category">
                        <h2>Fromage brebis</h2>
                        <p class="badge-cate" id="text-badge">Fromage</p>
                        </div>
                      </div>
                      <div class="ecoscore">
                        <p class="cate">Score environnemental</p>
                        <h3 class="score">0.14</h3>
                      </div>
                    </div>
            </div>

            <div class="product-card-container">
                      <div class="product-card" style="background-color: #EEBF3D; margin-right: 100px;">
                        <div class="product-card-header">
                          <div class="product-title-category">
                          <h2>Fromage brebis</h2>
                          <p class="badge-cate" id="text-badge">Fromage</p>
                          </div>
                        </div>
                        <div class="ecoscore">
                          <p class="cate">Score environnemental</p>
                          <h3 class="score">0.14</h3>
                        </div>
                      </div>
              </div>

        </div>


    </div>


  <a class="carousel-control-prev" href="#carouselExampleIndicators"  role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
    <span class="sr-only" >Prec</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon"  aria-hidden="true"></span>
    <span class="sr-only">Suiv</span>
  </a>
</div>







