<div class="header_search"  >
  <%= render '/shared/search-bar' %>
    <!-- <button class="btn-flat-download-index ml-3">
      <%#= link_to "Télécharger" %>
    </button> -->
</div>

<div class="fil-ariane-bar">
  <p id="accueil" class="fil-ariane-texte"><a href="/testalim">Accueil</a></p>
    <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte"><a href="/agriba5793lyse2indechiffrable34amoinsdetrerayman6789?query=">Rechercher dans la base</a></p>
    <i class="fas fa-chevron-right"></i>
  <p><strong>"<%= params[:query] %>"</strong></p>
</div>

<div class="aliment-section d-flex  mt-5 ml-5">
  <div class="aliment-section-titre">
      <h2 class="mb-3"><%= @aliment.alim_nom_fr.capitalize %></h2>
        <div class="section-badge d-inline-flex">
          <p class="badge badge-info mr-3"><%= link_to @aliment.alim_grp_nom_fr, aliments_path(:query => @aliment.alim_grp_nom_fr)%></p>
          <p class="badge badge-warning mr-3"><%= link_to @aliment.alim_ssgrp_nom_fr, aliments_path(:query => @aliment.alim_ssgrp_nom_fr)%></p>
          <p class="badge badge-danger mr-3"><%= link_to @aliment.alim_ssssgrp_nom_fr, aliments_path(:query => @aliment.alim_ssssgrp_nom_fr)%></p>
        </div>




    <!-- INDICATEURS    -->


      <h5 class="mt-3">🌎 Détail de l’impact environnemental 🌏</h5>

      <span></span>
      <button type="button" class="btn btn-secondary mb-3 mt-3" data-container="body" data-toggle="popover" data-placement="right" data-content="Data Quality Ratio : indicateur de robustesse des données s'échelonnant entre 1 -qualité excellente, à 5 -qualité faible. Le niveau de robustesse est considéré comme bon pour des DQR de 3 et inférieurs.">
        DQR : <%= @aliment.dqr %>
      </button>
  </div>
  <div class="aliment-score" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Sans unité, ce score unique est une moyenne pondérée des 14 indicateurs, calculé selon la méthodologie européenne « PEF » (Product Environmental Footprint)">
        <h5>Score</h5>
        <h5>env.</h5>
        <p><%= @aliment.score %></p>
  </div>
</div>

  <div class="tableau-donnees-bloc d-inline-flex m-5">
    <div class="aliments-array">
      <div class="array-header d-flex">
              <div class="array-header-column">
                <h4>Indicateur</h4>
              </div>

              <div class="array-header-column">
                <h4>Mesure</h4>
              </div>

              <div class="array-header-column">
                <h4>Unité</h4>
              </div>

            </div>

            <%# @aliments.each do |alim| %>

            <div class="aliments-card d-flex" id="aliment-div-1">
              <div class="aliment-infos infos-titre">
                Changement climatique
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_1 %>
              </div>

              <div class="aliment-infos">
                kg CO2 eq / kg product
              </div>
             </div>



             <div class="aliments-card d-flex" id="aliment-div-2">
              <div class="aliment-infos infos-titre">
                Appauvrissement de la couche d'ozone
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_2 %>
              </div>

              <div class="aliment-infos">
                kg CFC-11 eq / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-3">
              <div class="aliment-infos infos-titre">
                Toxicité pour l'homme, sans effet cancérogène
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_3 %>
              </div>

              <div class="aliment-infos">
                CTUh / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-4">
              <div class="aliment-infos infos-titre">
               Toxicité pour l'homme, avec effet cancérogène
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_4 %>
              </div>

              <div class="aliment-infos">
                CTUh / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-5">
              <div class="aliment-infos infos-titre">
                Emissions de particules
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_5 %>
              </div>

              <div class="aliment-infos">
                kg PM2.5 eq / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-6">
              <div class="aliment-infos infos-titre">
                Ionisation radiation HH
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_6 %>
              </div>

              <div class="aliment-infos">
                kBq U235 eq / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-7">
              <div class="aliment-infos infos-titre">
                Ionisation radiation HH
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_7 %>
              </div>

              <div class="aliment-infos">
                CTUe / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-8">
              <div class="aliment-infos infos-titre">
               Oxydation photochimique
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_8 %>
              </div>

              <div class="aliment-infos">
                kg NMVOC eq / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-9">
              <div class="aliment-infos infos-titre">
                Acidification
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_9 %>
              </div>

              <div class="aliment-infos">
                molc H+ eq / kg product
              </div>
             </div>

              <div class="aliments-card d-flex" id="aliment-div-10">
              <div class="aliment-infos infos-titre">
                Eutrophisation terrestre
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_10 %>
              </div>

              <div class="aliment-infos">
                molc N eq / kg product
              </div>
             </div>

              <div class="aliments-card d-flex" id="aliment-div-11">
              <div class="aliment-infos infos-titre">
                Eutrophisation eau douce
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_11 %>
              </div>

              <div class="aliment-infos">
                kg P eq / kg product
              </div>
             </div>

              <div class="aliments-card d-flex" id="aliment-div-12">
              <div class="aliment-infos infos-titre">
                Eutrophisation marine
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_12 %>
              </div>

              <div class="aliment-infos">
                kg N eq / kg product
              </div>
             </div>

              <div class="aliments-card d-flex" id="aliment-div-13">
              <div class="aliment-infos infos-titre">
                Ecotoxicité eau douce
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_13 %>
              </div>

              <div class="aliment-infos">
                CTUe / kg product
              </div>
             </div>


             <div class="aliments-card d-flex" id="aliment-div-14">
              <div class="aliment-infos infos-titre">
                Usage des terres
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_14 %>
              </div>

              <div class="aliment-infos">
                kg C deficit / kg product
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-15">
              <div class="aliment-infos infos-titre">
                Oxydation photochimique
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_15 %>
              </div>

              <div class="aliment-infos">
                unité
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-12">
              <div class="aliment-infos infos-titre">
                Consommation d'énergie non renouvelable
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_12 %>
              </div>

              <div class="aliment-infos">
                unité
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-13">
              <div class="aliment-infos infos-titre">
                Consommation de ressources non renouvelables
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_13 %>
              </div>

              <div class="aliment-infos">
                unité
              </div>
             </div>

             <div class="aliments-card d-flex" id="aliment-div-14">
              <div class="aliment-infos infos-titre">
                Consommation d'eau
              </div>

              <div class="aliment-infos">
                <%= @aliment.indic_14 %>
              </div>

              <div class="aliment-infos">
                m3 water eq / kg product
              </div>
        </div>
    </div>

    <div class="fiche-info-bdd">
      <div class="fiche-infos">
        <h2>Comment comprendre ces données ?</h2>
        <p>Ces chiffres ont été établis en suivant la méthode du d’analyse du cycle de vie (ACV).
          <br></br>
        Pour comprendre les valeurs présentées et les modes d’analyse, vous pouvez consulter notre documentation.</p>
        <button class="button-details-product-fiche mb-3">
         <%= link_to "Documentation publiée le 28 avril 2020" %>
        </button>
      </div>
    </div>
  </div>







