<footer class="footer" role="contentinfo">
    <div class="container p-4">
      <div class="footer__logo">
        <!-- <img src= <%#= image_path('ademe-logo.jpg') %>> -->
          <%= link_to "https://www.ademe.fr/", target: "_blank" do %>
              <div>
                <img src="<%= image_path('logos/Republique_Francaise_RVB.png') %>"/>
              </div>
              <div>
                  <img src="<%= image_path('logos/ademe-logo.jpg') %>"/>
          <% end %>
        </div>
        <!-- <div class="footer-reseaux">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div> -->
      </div>

        <ul class="footer__links">
          <li><h2>Ecolab</h2></li>
          <li><a href="https://ecolab.ademe.fr/blog/g%C3%A9n%C3%A9ral/pourquoi-ecolab.md">Qui sommes-nous ?</a></li>
          <li><a href="https://beta.gouv.fr/apropos/">Les start-ups d’état</a></li>
          <li><%= link_to "Mentions légales", mentions_legales_path %></li>
          <li><%= link_to "Vie privée", vieprivee_path, target:"_blank" %></li>
          <li><%= link_to "Stats", stats_path, target:"_blank" %></li>
        </ul>


        <ul class="footer__links">
          <li><h2>Nous aider</h2></li>
          <li><a href="https://github.com/betagouv/Ecolab">Contribuer sur Github</a></li>
          <li><a href="https://github.com/JenniferStephan/Ecolab">Envoyer une suggestion</a></li>
          <li><a href="mailto:contact@ecolab.beta.gouv.fr">Contactez-nous !</a></li>
        </ul>

        <ul class="footer__links">
          <li><h2>En collaboration avec</h2></li>
          <li><a href="https://www.ademe.fr/">ADEME</a></li>
          <li><a href="https://beta.gouv.fr/apropos/">Beta.gouv.fr</a></li>
          <li><a href="https://data.ademe.fr/">Data.ademe.fr</a></li>
        </ul>

    </div>
  </footer>
