<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('ECOLAB (1).png') %>"/>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <li class="dropdown align-self-center d-none d-sm-block mr-3">
        <button class="dropdown-toggle border-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Données
        </button>
      </li>
    <ul class="navbar-nav mr-auto">
      <button class="border-none add-meal" type="button" >
          <%= link_to "Etudes de cas", "#" %>
      </button>
      <button class="border-none add-meal" type="button" >
          <%= link_to "Développeurs", "#" %>
      </button>
      <button class="border-none add-meal" type="button" >
          <%= link_to "Blog", "#" %>
      </button>

    </ul>
  </div>
</div>

