<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('logo_basdecasse.png') %>"/>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <li class="dropdown align-self-center d-none d-sm-block mr-3">
        <button class="dropdown-toggle border-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Données
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <%= link_to "Alimentation", alimentation_path, class: "dropdown-item" %>
          <%= link_to "Bâtiment",batiment_path, class: "dropdown-item" %>
        </div>
  </li>

    <ul class="navbar-nav mr-auto">
      <button class="border-none add-meal" type="button" >
          <%= link_to "Etudes de cas", batiment_path %>
      </button>
      <button class="border-none add-meal" type="button" >
          <%= link_to "Développeurs", "https://beta-gouv-fr-ecolab.gitbook.io/ecolab-1/" %>
      </button>
      <button class="border-none add-meal" type="button" >
          <%= link_to "Blog", "/blog" %>
      </button>
      <button class="border-none add-meal" type="button" >
          <%= link_to "Pourquoi Ecolab ?", "https://ecolab-beta.herokuapp.com/blog/g%C3%A9n%C3%A9ral/pourquoi-ecolab.md", target: "_blank" %>
      </button>

      <!-- <button class="border-none add-meal" type="button" >
          <%#= link_to "Simuler ma liste de courses", courses_path %>
      </button> -->

    </ul>
  </div>
</div>

