<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('logo_basdecasse.png') %>"/>
  <% end %>



  <li class="dropdown align-self-center d-none d-sm-block mr-3">
        <button class="dropdown-toggle border-none donnees" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Données
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <%= link_to "Alimentation", alimentation_path, class: "dropdown-item" %>
          <%= link_to "Bâtiment",batiment_path, class: "dropdown-item" %>
        </div>
  </li>

    <ul class="navbar-nav mr-auto">
      <button class="border-none " type="button" >
          <%= link_to "Etudes de cas", batiment_path %>
      </button>
      <button class="border-none " type="button" >
          <%= link_to "Développeurs", "https://beta-gouv-fr-ecolab.gitbook.io/ecolab-1/" %>
      </button>
      <button class="border-none " type="button" >
          <%= link_to "Blog", "/blog" %>
      </button>
      <button class="border-none " type="button" >
          <%= link_to "Pourquoi Ecolab ?", "/blog/général/pourquoi-ecolab.md" %>
      </button>

      <!-- <button class="border-none add-meal" type="button" >
          <%#= link_to "Simuler ma liste de courses", courses_path %>
      </button> -->

    </ul>
  </div>
</div>

