<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('ECOLAB.png') %>"/>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <button class="border-none add-meal" type="button" >
          <%= link_to "Add a meal", "new_meal_path" %>
        </button>

      <li class="dropdown align-self-center d-none d-sm-block mr-3">
        <button class="dropdown-toggle border-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My kitchen
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <%= link_to "My meals", "#", class: "dropdown-item" %>
          <%= link_to "My orders", "#", class: "dropdown-item" %>
          <%= link_to "My profile", "#", class: "dropdown-item" %>
          <%= link_to "Log out", "#", method: :delete, class: "dropdown-item" %>
        </div>
      </li>


      <li class="nav-item dropdown">
          <%= image_tag "https://resize-parismatch.lanmedia.fr/img/var/news/storage/images/paris-match/people-a-z/javier-bardem/6033180-8-fre-FR/Javier-Bardem.jpg", class: "avatar dropdown-toggle d-none d-sm-block", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

      </li>
    </ul>
  </div>
</div>

