<div class="container">

  <!-- <div class="invoices_index_title">
    <h1><i class="far fa-file-alt"></i>  Mes factures :</h1>
  </div> -->


  <div class="search-invoice">
  <%= form_tag ingredients_path, method: :get, class: "form-inline" do %>
    <label for="inp" class="inp">
      <%= text_field_tag :query, params[:query], id: 'inp', placeholder: "  " %>
      <span class="label"><i class="fas fa-search"></i>Trouver un ingredient</span>
    </label>
  <%#= submit_tag "Rechercher", class: "button submit-index-search" %>
  <% end %>
</div>

  <div class="invoices-array">

    <div class="array-header d-flex">

      <div class="array-header-column">
        <h4>Ingredient</h4>
      </div>
      <div class="array-header-column">
        <h4>Categorie</h4>
      </div>
      <div class="array-header-column">
        <h4>Description</h4>
      </div>
      <div class="array-header-column">
        <h4>Indicateur 1</h4>
      </div>
      <div class="array-header-column">
        <h4>Indicateur 2</h4>
      </div>
      <div class="array-header-column">
        <h4>Indicateur 3</h4>
      </div>
      <div class="array-header-column invoice-actions">
      </div>

    </div>

    <% @ingredients.each do |ing| %>

    <div class="invoices-card d-flex" id="invoice-div-<%= invoice.id %>">

      <div class="invoice-infos infos-titre">
       <%= ingredient.name %>
      </div>

      <div class="invoice-infos ">
       <%= ingredient.category %>
      </div>

      <div class="invoice-infos">
        <%= ingredient.description  %>
      </div>

      <div class="invoice-infos">
        <%= ingredient.kpi[0].value %>
      </div>

      <div class="invoice-infos">
          <%= ingredient.kpi[1].value %>
      </div>

      <div class="invoice-infos">
          <%= ingredient.kpi.label[2].value %>
      </div>

      <div class="invoice-infos infos-status">
        <p class="<%= invoice.status.to_s %> mb-0">
          <i class="fas fa-circle"></i> <%= invoice.status %>
        </p>
      </div>

      <div class="invoice-infos">
        <p class="mb-0">
          <%=  "test" %> €
        </p>
      </div>


      <div class="invoice-infos invoice-actions dropdown">

      <i class="fas fa-ellipsis-h" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

      <!-- Show -->
      <%= link_to invoice_path(invoice.id), method: :get, class: 'dropdown-item' do %>
          <i class="fas fa-search-plus"></i>Aperçu
      <% end %>



      <!-- Send -->
      <%= link_to send_to_client_invoice_path(invoice.id), method: :post, class: 'dropdown-item' do %>
        <i class="far fa-paper-plane"></i>Envoyer
      <% end %>

        <!-- Edit -->
        <%# if invoice.status == "draft" %>
          <%#= link_to edit_invoice_path(invoice.id), class: 'dropdown-item' do %>
            <!-- <i class="fas fa-edit"></i>Editer -->
          <%# end %>
        <%# end %>



        <!-- Download -->
        <!-- <button class="dropdown-item" type="button"><i class="fas fa-download"></i>Télécharger</button> -->



        <!-- Print -->
        <!-- <button class="dropdown-item" type="button"><i class="fas fa-print"></i>Imprimer</button> -->

        </div>

      </div>

    </div>

    <% end %>

  </div>
</div>

