<div class="fil-ariane-bar">
  <p id="accueil" class="fil-ariane-texte"><a href="/">Accueil</a></p>
    <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte">Secteur</p>
    <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte"><a href="/alimentation">Se nourrir</a></p>
</div>




<div class="hero" role="banner">
    <div class="hero__container hero__container_landing p-5" style="background: linear-gradient(0deg, white, #FFCF5C);">

      <%#= image_tag("data.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('alimentation/listalim.svg') %>"/>

        <div class="texts-banner">
          <h1 class="banner_title-trans">L'impact de votre assiette sur le climat</h1>
          <%#= render '/shared/search-bar' %>
          <p class="banner_subtitle">Des données ouvertes pour une alimentation moins émettrice en CO2.</p>

          <div class="how">
            <%#= link_to "Mieux comprendre les enjeux", 'https://ecolab.ademe.fr/blog/transport/impact-carbone-mobilite-eco-deplacement.md', target: "_blank" %>
          </div>
        </div>
      <%#= image_tag("empreinte.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('alimentation/applialim.svg') %>"/>
    </div>
</div>

<section class="section">
  <h2 class="section__title section-margin">Utilisez ces données dans vos produits et services</h2>

  <div class="element-text">
    <div class="text-p">
      <strong class="titre-p mb-2">Des données ouvertes, pour tous</strong>
      <p>Disponibles en OpenData, ces données  sont libres, en simple consultation, ou pour être réutilisées dans votre service</p>
      </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Dans les applications préférées des français</strong>
      <p>Ces données sont directement mises à disposition de leurs utilisateurs</p>
    </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Un guide pour les développeurs</strong>
      <p>Format CSV, API, retrouvez toutes les informations techniques sur les méthodes d’intégrations dans notre documentation</p>
    </div>
  </div>

  <div class="place-du-button-et-lien">
      <%= link_to "Guide d’utilisation", 'https://ecolab.gitbook.io/documentation-ecolab/', class:"btn btn-grey" %>
  </div>

</section>

<ul class="nav nav-pills" id="pills-tab" role="tablist">

    <!-- <li class="nav-item nav-bar">
        <a class="nav-link active step pills-color" id="pills-first-tab" data-toggle="pill" href="#pills-first" role="tab" aria-controls="pills-first" aria-selected="true">Proposition 1 (dummy data)</a>
    </li> -->

    <li class="nav-item nav-bar">
        <a class="nav-link step pills-color" id="pills-second-tab" data-toggle="pill" href="#pills-second" role="tab" aria-controls="pills-second" aria-selected="false">Proposition 1</a>
    </li>

<!--     <li class="nav-item nav-bar">
        <a class="nav-link step pills-color" id="pills-third-tab" data-toggle="pill" href="#pills-third" role="tab" aria-controls="pills-third" aria-selected="false">Proposition 3</a>
    </li> -->


</ul>


<div class="tab-content" id="pills-tabContent">

<!--   <div class="tab-pane fade show active" id="pills-first" role="tabpanel" aria-labelledby="pills-first-tab">
    <div class="container align-text-center">
      <h4 class="p-4">Calcule l'impact CO2 de ton alimentation (teste avec "porc", "fraise" et "boeuf" 😬)</h4>
      <p class="mb-4">Intégrez notre module de calcul chez vous, par exemple rendre un article de blog plus intéractif pour le lecteur, simplement en ajoutant cette ligne à votre page Web :</p>
      <code>
        < iframe width="800" height="1200" src="https://food-co2.herokuapp.com/" >< /iframe>
      </code>
      <h6 class="mt-5">Exemple :</h6>





    </div>
  </div> -->

  <div class="tab-pane fade show active" id="pills-second" role="tabpanel" aria-labelledby="pills-second-tab">
    <div class="container align-text-center">
      <h4 class="p-4">Une simple recherche de fruit ou légume et l'app vous informe si le mois en cours est la saison pour celui-ci</h4>
      <p class="mb-4">Intégrez notre module de calcul chez vous, par exemple rendre un article de blog plus intéractif pour le lecteur, simplement en ajoutant cette ligne à votre page Web :</p>
      <code>
        < iframe name="iframe1" width="800" height="500" class="ml-5 mb-5" src="https://fruit-leg-saisons.herokuapp.com/">
        < /iframe>
      </code>
      <h6 class="mt-5 mb-3">Exemple :</h6>
      <div id="iframe1">
        <iframe name="iframe1" width="850" height="660" class="ml-5 mb-5" src="https://fruit-leg-saisons.herokuapp.com/">
        </iframe>
      </div>

    </div>
  </div>


</div>



<%= render '/shared/newsletter' %>
<%= render '/shared/twitter' %>








