<div class="fil-ariane-bar">
  <p id="accueil" class="fil-ariane-texte"><a href="/">Accueil</a></p>
    <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte">Secteur</p>
    <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte"><a href="/batiment">Se loger</a></p>
</div>



<div class="hero" role="banner">
    <div class="hero__container hero__container_landing p-5" style="background: linear-gradient(0deg, white, #FF647C);">

      <%#= image_tag("data.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" id="trotti" src="<%= image_path('Seloger/buildings') %>"/>


        <div class="texts-banner">
          <h1 class="banner_title-trans">L'impact de la consommation énergétique de son logement</h1>
          <%#= render '/shared/search-bar' %>
          <p class="banner_subtitle">Faciliter par les données, la rénovation, décarbonation de l’énergie et réduction des surfaces urbanisées au profit de la densification.</p>

          <div class="how">
            <%#= link_to "👷   Page encore en construction", '', target: "_blank" %>
          </div>
        </div>
      <%#= image_tag("empreinte.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner-clim" src="<%= image_path('Seloger/wip') %>"/>
    </div>
</div>

<!-- Section integrer le simulateur -->

<div class="d-flex flex-column">
  <div class="section-trans section-trans-droite section-demandeur">
    <div class="text-p d-flex flex-column align-items-center justofy-content-end mr-5 ml-5">
      <p><strong>Exemple de cas d'usage de la donnée : les diagnostics de performance énergétique pour les logements - Classe énergétique</strong></p>
        <span></span>
      <p>Intégrez notre module de calcul chez vous, par exemple rendre un article de blog plus intéractif pour le lecteur, simplement en ajoutant cette ligne à votre page Web. Le module restera automatiquement à jour avec les données les plus récentes.
      </p>


        <%= link_to "Data.ademe.fr", 'https://data.ademe.fr/reuses/diagnostics-de-performance-energetique-pour-les-logements-par-habitation', target: "_blank", class:"btn btn-grey mt-3" %>
    </div>
       <div>
          <iframe src="https://koumoul.com/s/data-fair/app/diagnostics-de-performance-energetique-pour-les-logements-par-habitation?embed=true" width="160%" height="400px" marginLeft="20px"></iframe>
       </div>
  </div>

<%= render '/shared/newsletter' %>
<%= render '/shared/twitter' %>
