<div class="hero" role="banner">
    <div class="hero__container hero__container_landing">
    <!--   <h1>Découvrez l’impact environnemental de votre assiette</h1> -->
      <p class="banner_title">Les données d’impact environnemental au plus près des usages des citoyens</p>
      <%#= render '/shared/search-bar' %>
      <p class="banner_subtitle">Accessibles à tous, en OpenData et API, pour vos projets, votre application, ou par curiosité</p>
    </div>
</div>

<!-- ///////////////// section produits ALIM / BATIMENT / CARBONE ////////////// -->

<section class="section-produit" id="alim">
  <div class="d-flex flex-row">
    <%= image_tag("manger.png", {:style => "width:15vh; margin: 10px; height: 15vh; border-radius: 50%; "}) %>

    <div class="product-info-alim d-flex flex-column ml-3 mb-3 mt-3">
      <h3 class="nom-produit">Se nourrir</h3>
      <p class="description-produit">Aider vos utilisateurs à découvrir l’impact environnemental de votre assiette. </p>
      <button class="btn-discover"><%= link_to "Découvrir les données", alimentation_path %></button>
    </div>
  </div>
</section>

<section class="section-produit">
  <div class="d-flex flex-row justify-content-end">
    <%= image_tag("habiter.png", {:style => "width:15vh; margin: 10px; height: 15vh; border-radius: 50%; "}) %>

    <div class="product-info-alim d-flex flex-column ml-3 mr-5 mb-3">
      <h3 class="nom-produit">Se loger / Habiter</h3>
      <p class="description-produit">Aider vos utilisateurs à découvrir l’impact environnemental de votre logement et sa consommation énergétique. </p>
      <button class="btn-discover"><%= link_to "Découvrir les données", batiment_path %></button>
    </div>
  </div>
</section>

<section class="section-produit" id="trans">
  <div class="d-flex flex-row">
    <%= image_tag("velo.png", {:style => "width:15vh; margin: 10px; height: 15vh; border-radius: 50%; "}) %>

    <div class="product-info-alim d-flex flex-column ml-3 mb-5">
      <h3 class="nom-produit">Impact climat (premier zoom : se déplacer) </h3>
      <p class="description-produit">Aider vos utilisateurs à découvrir l’impact environnemental de vos déplacements. </p>
      <button class="btn-discover"><%= link_to "Découvrir les données", batiment_path %></button>
    </div>
  </div>
</section>

<!-- ///////////////// FIN section produits ALIM / BATIMENT / CARBONE ////////////// -->

<section class="section">
  <h2 class="section__title">Utilisez ces données dans vos produits et services</h2>

  <div class="element-text">
    <div class="text-p">
      <strong class="titre-p mb-2">Des données ouvertes, pour tous</strong>
      <p>Disponibles en OpenData, ces données  sont libres, en simple consultation, ou pour être réutilisées dans votre service</p>
      </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Dans les applications préférées des français</strong>
      <p>Ces données sont directement mis à disposition de leurs utilisateurs.</p>
    </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Un guide pour les développeurs</strong>
      <p>Format CSV, API, retrouvez toutes les informations techniques sur les méthodes d’intégrations dans notre documentation</p>
    </div>
  </div>

  <div class="place-du-button-et-lien">
    <button class="btn-flat-download">
      <%= link_to "Guide d’utilisation", 'https://ecolab-panthere.gitbook.io/documentation-ecolab-et-agribalyse/' %>
    </button>
    <div class="how">
      <%= link_to "Voir les études de cas" %>
    </div>
  </div>

</section>



<!-- <div class="card-container-usecase">
  <p class="card-title-logo">Ces données sont disponibles librement
grâce au soutien de nos partenaires</p>
    <div class="home-container-usecasers">
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('frigo-magic-logo-couleur.jpg') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('karbon.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('beta-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('off.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('marmiton-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
    </div>
</div> -->

<div class="newsletter">
  <h2 class="titre-news">Vous souhaitez suivre les évolutions d’Ecolab ?</h2>
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      S'inscrire à la newsletter
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <iframe width="700" height="600" src="https://856c23af.sibforms.com/serve/MUIEACEkS3BMAPVzCNDyJPXeSQW2maKn67xNuyDZQOYV6t5PCs_AxSuRRIn4nVaav23T1G-D3T0ZZyY_j3OlfiM_skU68sLxNFsscQKbeJYBIvd2w8hXWxrbIJy-Sj3IVOPCgG5iGGNcPJ2TAgW2XXcyQvt5Mt7qdFCpMnSTd2uAp87VEI1FeXSH6cXfmJKsC5eU34uJ_JihbG0M" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>


    </div>
  </div>
</div>

<div>


