<div class="banner-ecolab" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Les données d’impact environnemental au plus près des usages des citoyens</h1>
    <p>Accessibles à tous, en OpenData et API, pour vos projets, votre application, ou par curiosité</p>
  </div>
</div>

<div>
</div>

<div>
</div>

<div>
</div>

<section class="section section-grey">
  <div class="container">
    <h2 class="section__title">Utilisez ces données dans vos produits et services</h2>

    <div class="row">
      <p class="text-p">Disponibles en OpenData, ces données  sont libres, en simple consultation, ou pour être réutilisées dans votre service</p>
      <p class="text-p">Yuka, Marmiton, Carrefour utilisent déjà ces données visibles dans leurs produits et applications mobiles. </p>
      <p class="text-p">Format CSV, API, retrouvez toutes les informations techniques sur les méthodes d’intégrations dans notre documentation</p>
    </div>
  </div>
</section>


<div class="card-container-usecase">
  <p class="card-title-logo">Ces données sont disponibles librement
grâce au soutien de nos partenaires</p>
    <div class="home-container-usecasers">
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('frigo-magic-logo-couleur.jpg') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('karbon.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('beta-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('off.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('marmiton-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
    </div>
</div>
