<div class="banner-ecolab" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <h1 class="banner-ecolab-title">Les données d’impact environnemental au plus près des usages des citoyens</h1>
    <p>Accessibles à tous, en OpenData et API, pour vos projets, votre application, ou par curiosité</p>
</div>

<div class="bloc-alimentation">
  <img class="picto-alim" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/JenniferStephan" />
  <div class="explain-alim">
    <h2>Alimentation</h2>
    <p>Vous y découvrirez l’impact environnemental de votre assiette.</p>
    <button class="btn-flat-download">
      <%= link_to "Découvrir les données", 'https://ecolab-panthere.gitbook.io/documentation-ecolab-et-agribalyse/' %>
    </button>
  </div>

</div>



<section class="section">
  <h2 class="section__title">Utilisez ces données dans vos produits et services</h2>

  <div class="element-text">
    <div class="text-p">
      <strong class="titre-p mb-2">Des données ouvertes, pour tous</strong>
      <p>Disponibles en OpenData, ces données  sont libres, en simple consultation, ou pour être réutilisées dans votre service</p>
      </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Dans votre application préférée</strong>
      <p>Yuka, Marmiton, Carrefour utilisent déjà ces données visibles dans leurs produits et applications mobiles. </p>
    </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Un guide pour les développeurs</strong>
      <p>Format CSV, API, retrouvez toutes les informations techniques sur les méthodes d’intégrations dans notre documentation</p>
    </div>
  </div>

  <div class="place-du-button-et-lien">
    <button class="btn-flat-download">
      <%= link_to "Guide d’utilisation", 'https://ecolab-panthere.gitbook.io/documentation-ecolab-et-agribalyse/' %>
    </button>
    <div class="how">
      <%= link_to "Voir les études de cas" %>
    </div>
  </div>

</section>


<div class="card-container-usecase">
  <p class="card-title-logo">Ces données sont disponibles librement
grâce au soutien de nos partenaires</p>
    <div class="home-container-usecasers">
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('frigo-magic-logo-couleur.jpg') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('karbon.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('beta-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('off.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('marmiton-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
    </div>
</div>

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:500px;}
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://ademe.us4.list-manage.com/subscribe/post?u=dd3cdc6d20bea07d06708a7e4&amp;id=872c13b269" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

<div class="mc-field-group">
  <label for="mce-EMAIL">Votre email </label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group input-group">
    <strong>Les données qui vous intéressent </strong>
    <ul><li><input type="radio" value="Toutes" name="DONNEES" id="mce-DONNEES-0"><label for="mce-DONNEES-0">Toutes</label></li>
<li><input type="radio" value="Alimentation" name="DONNEES" id="mce-DONNEES-1"><label for="mce-DONNEES-1">Alimentation</label></li>
<li><input type="radio" value="Transport" name="DONNEES" id="mce-DONNEES-2"><label for="mce-DONNEES-2">Transport</label></li>
<li><input type="radio" value="Carbone" name="DONNEES" id="mce-DONNEES-3"><label for="mce-DONNEES-3">Carbone</label></li>
<li><input type="radio" value="Bâtiment" name="DONNEES" id="mce-DONNEES-4"><label for="mce-DONNEES-4">Bâtiment</label></li>
</ul>
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd3cdc6d20bea07d06708a7e4_872c13b269" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='DONNEES';ftypes[2]='radio'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: FR
 */
$.extend($.validator.messages, {
        required: "Ce champ est requis.",
        remote: "Veuillez remplir ce champ pour continuer.",
        email: "Veuillez entrer une adresse email valide.",
        url: "Veuillez entrer une URL valide.",
        date: "Veuillez entrer une date valide.",
        dateISO: "Veuillez entrer une date valide (ISO).",
        number: "Veuillez entrer un nombre valide.",
        digits: "Veuillez entrer (seulement) une valeur numérique.",
        creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
        equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
        accept: "Veuillez entrer une valeur avec une extension valide.",
        maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
        minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
        rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
        range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
        max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
        min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
