
  <div class="hero" role="banner">
    <div class="hero__container">
    <!--   <h1>Découvrez l’impact environnemental de votre assiette</h1> -->
      <p class="search_title">Découvrez l’impact environnemental de votre assiette</p>
      <%= render '/shared/search-bar' %>
      <p class="search_examples"> Exemples : Carotte, Pizza margherita, Brownie au chocolat, Brochette de boeuf, Café moulu</p>
    </div>
  </div>

<div class="card-container">
  <p class="card-title">Nos catégories</p>
    <div class="home-container">
        <%= link_to "#" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Plats composés
          </div>
        </div>
        <% end %>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('fruits-straw.png') %>)">
            Fruits & légumes
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('meat.png') %>)">
            Viandes et poissons
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('candy.png') %>)">
            Confiserie
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('pickles.png') %>)">
            Condiments
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('cafe.png') %>)">
            Boissons
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('dessert.png') %>)">
            Desserts
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('egg.png') %>)">
            Lait, oeufs
          </div>
        </div>

      </div>
  </div>

    <section class="section section-grey">
      <div class="container">
        <h2 class="section__title">Agribalyse, données  ADEME de référence pour 2500 produits agro-alimentaires</h2>

        <div class="row">
          <p class="text-p">2500 produits, 14 indicateurs, toutes les informations sur l’alimentation et son impact sur l’environnement</p>
          <p class="text-p">Un comité scientifique de validation et une méthodologie d’après l’analyse de cycle de vie des produits</p>
          <p class="text-p">Un outil pratique à intégrer en phase d’éco-conception ou directement dans vos application via API</p>
        </div>
      </div>
    </section>

    <button class="btn-flat-download">
      <%= link_to "Télécharger" %>
    </button>
    <div class="how">
      <%= link_to "Comment utiliser les données ?" %>
    </div>


<div class="card-container-logo">
  <p class="card-title-logo">Avec</p>
    <div class="home-container-logo">
        <%= link_to "#" do %>
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
          </div>
        </div>
        <% end %>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('fruits-straw.png') %>)">
          </div>
        </div>
    </div>
</div>



</div>


