
  <div class="hero" role="banner">
    <div class="hero__container hero__container_alim">

      <%#= image_tag("data.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>

        <div class="texts-banner">
            <p class="search_title">Découvrez l’impact environnemental de votre assiette</p>
              <%= render '/shared/search-bar' %>
            <p class="search_examples">
              Exemples :
              <%#= link_to "Avocat", aliments_path(:query => "Avocat")%>
              <%#= link_to "Pain", aliments_path(:query => "Pain")%>
              <%#= link_to "Tomate", aliments_path(:query => "Tomate")%>
              <%#= link_to "Café", aliments_path(:query => "Café")%>
              <%#= link_to "Fromage", aliments_path(:query => "Fromage")%>
              <%= link_to "Avocat", aliment_path(id: 27425)%>,
              <%= link_to "Pain", aliment_path(id: 27436)%>,
              <%= link_to "Tomate", aliment_path(id: 27445)%>,
              <%= link_to "Café", aliment_path(id: 27441)%>,
              <%= link_to "Fromage de chèvre", aliment_path(id: 27423)%>
              </p>
        <p class="badge-beta ">Version beta</p>
        </div>

      <%#= image_tag("empreinte.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
    </div>
</div>

<!-- //////////////////// LOGO ADEME ET AGRIBALYSE ////////////////////////// -->

<!-- <div class="card-container-logo">
    <div class="home-container-logo">
        <%#= link_to "https://www.ademe.fr/", target: "_blank" do %>
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
        <%# end %>
        <%#= link_to "https://agribalyse.fr", target: "_blank" do %>
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('Agibalyse-Couleurs.png') %>)">
          </div>
        </div>
        <%# end %>
    </div>
</div> -->



<!-- CATEGORIES DE PRODUITS DANS AGRIBALYSE -->

<div class="card-container">
  <p class="card-title">Catégories</p>
    <div class="home-container">
        <%#= link_to aliments_path(:query => "Plats composés") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-PlatCompose.jpg') %>)">
            Plats composés
          </div>
        </div>
        <%# end %>

        <%#= link_to aliments_path(:query => "fruits crus") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-FruitsLegumes.jpg') %>)">
            Fruits & légumes
          </div>
        </div>
        <%# end %>

        <%#= link_to aliments_path(:query => "Viandes et poissons") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-ViandesPoissons.jpg') %>)">
            Viandes et poissons
          </div>
        </div>
        <%# end %>

        <%#= link_to aliments_path(:query => "Confiserie") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-Confiserie.jpg') %>)">
            Confiserie
          </div>
        </div>
        <%# end %>

        <%#= link_to aliments_path(:query => "Condiments") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-Condiments.jpg') %>)">
            Condiments
          </div>
        </div>
        <%# end %>

        <%#= link_to aliments_path(:query => "Boissons") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-Boissons.jpg') %>)">
            Boissons
          </div>
        </div>
        <%# end %>

        <%#= link_to aliments_path(:query => "Desserts") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-Desserts.jpg') %>)">
            Desserts
          </div>
        </div>
        <%# end %>

        <%#= link_to aliments_path(:query => "Lait, oeufs") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path('Agribalyse-LaitOeufs.jpg') %>)">
            Lait, oeufs
          </div>
        </div>
        <%# end %>

      </div>
  </div>


<!-- //////////////////// TEXTE AGRIBALYSE ////////////////////////// -->

    <section class="section">
        <h2 class="section__title mb-5">Agribalyse, la base de données environnementale de référence sur des produits agricoles et alimentaires</h2>

        <div class="element-text">
          <div class="text-p">
<!--             <strong class="titre-p mb-2">Données</strong> -->
            <p>2500 produits, 15 indicateur construits selon l’approche scientifique de l’Analyse de Cycle de Vie</p>
            </div>
          <div class="text-p">
<!--             <strong class="titre-p mb-2">Données</strong> -->
            <p>Un programme collaboratif associant des scientifiques et experts des secteurs agricoles, agroalimentaires et de l’environnement</p>
          </div>
          <div class="text-p">
<!--             <strong class="titre-p mb-2">Données</strong> -->
            <p>Un outil au service des professionnels agricoles et alimentaires, et des consommateurs</p>
          </div>
        </div>

        <div class="place-du-button-et-lien">
          <button class="btn-flat-download">
            <%= link_to "Ouverture des données courant 2020", 'https://agribalyse.fr', target: "_blank" %>
          </button>
          <div class="how">
            <%= link_to "Documentation Agribalyse", "https://ecolab.gitbook.io/documentation-agribalyse/-M0Iwaasydt8MsoYyENw/", target: "_blank" %>
          </div>
        </div>

    </section>




<!-- ////////////////////USECASE////////////////////////// -->


<div class="card-container-usecase">
  <p class="card-title">Exemples de cas d'usage</p>
    <div class="home-container-usecase">

      <div class="card-usecase">
        <img src= <%= image_path('usecase-vaches.png') %> >
          <div class="card-usecase-infos">
          <div>
            <h2>Ecoconception : améliorer vos systèmes de productions et votre gamme de produits alimentaires</h2>
          </div>
          <img class="card-usecase-user avatar-bordered" src= <%#= image_path('marmiton-logo.png') %> >
         </div>
      </div>

      <div class="card-usecase">
        <img src= <%= image_path('usecase-rie.png') %> >
        <div class="card-usecase-infos">
          <div>
            <h2>Restauration collective : aider vos convives dans leurs choix</h2>
          </div>
          <img class="card-usecase-user avatar-bordered" src= <%#= image_path('yuka-logo.png') %> >
        </div>
      </div>

      <div class="card-usecase">
        <img src= <%= image_path('yuka-usecase.png') %> >
        <div class="card-usecase-infos">
          <div>
            <h2>Applications web et mobiles : communiquer les données environnementales à vos utilisateurs</h2>
          </div>
          <img class="card-usecase-user avatar-bordered" src= <%#= image_path('carrefour-logo.jpg') %> >
        </div>
      </div>


    </div>
</div>

<!-- /////////////////////// PARTNERS /////////////////////// -->

<!-- <div class="card-container-usecase">
  <p class="card-title-logo">Partenariats en cours</p>
    <div class="home-container-usecasers">
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('frigo-magic-logo-couleur.jpg') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('karbon.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('beta-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('off.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('marmiton-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
    </div>
</div> -->





<!-- /////////////// CONTRIBUTIONS /////////// -->

<!--   <div class="card-dev">
      <div class="card-dev-infos">
        <h2>Développeurs, intégrez ces données à votre produit</h2>
        <p>API, données CSV, calcul de score, licence de ré-utilisation</p>
      </div>
      <button class="btn-flat-download">
        <%#= link_to "Commencer" %>
      </button>
  </div> -->


<%= render '/shared/newsletter' %>


</div>


