
  <div class="hero" role="banner">
    <div class="hero__container">
    <!--   <h1>Découvrez l’impact environnemental de votre assiette</h1> -->
      <p class="search_title">Découvrez l’impact environnemental de votre assiette</p>
      <%= render '/shared/search-bar' %>
      <p class="search_examples">
        Exemples :
        <%= link_to "Carotte", aliments_path(:query => "Carotte")%>,
        <%= link_to "Pizza margherita", aliments_path(:query => "Pizza margherita")%>,
        <%= link_to "Brownie au chocolat", aliments_path(:query => "Brownie au chocolat")%>,
        <%= link_to "Café expresso", aliments_path(:query => "Café expresso")%>
        </p>
    </div>
  </div>

<div class="card-container">
  <p class="card-title">Catégories</p>
    <div class="home-container">
        <%= link_to aliments_path(:query => "Plats composés") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Plats composés
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "fruits crus") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('fruits-straw.png') %>)">
            Fruits & légumes
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Viandes et poissons") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('meat.png') %>)">
            Viandes et poissons
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Confiserie") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('candy.png') %>)">
            Confiserie
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Condiments") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('pickles.png') %>)">
            Condiments
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Boissons") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('cafe.png') %>)">
            Boissons
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Desserts") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('dessert.png') %>)">
            Desserts
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Lait, oeufs") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('egg.png') %>)">
            Lait, oeufs
          </div>
        </div>
        <% end %>

      </div>
  </div>


<!-- //////////////////// TEXTE AGRIBALYSE ////////////////////////// -->

    <section class="section">
        <h2 class="section__title">Agribalyse, données  ADEME de référence pour 2500 produits agro-alimentaires</h2>

        <div class="element-text">
          <div class="text-p">
            <strong class="titre-p mb-2">Données</strong>
            <p>2500 produits, 14 indicateurs, toutes les informations sur l’alimentation et son impact sur l’environnement</p>
            </div>
          <div class="text-p">
            <strong class="titre-p mb-2">Données</strong>
            <p>Un comité scientifique de validation et une méthodologie d’après l’analyse de cycle de vie des produits</p>
          </div>
          <div class="text-p">
            <strong class="titre-p mb-2">Données</strong>
            <p>Un outil pratique à intégrer en phase d’éco-conception ou directement dans vos application via API</p>
          </div>
        </div>

        <div class="place-du-button-et-lien">
          <button class="btn-flat-download">
            <%= link_to "Télécharger", 'https://ecolab-panthere.gitbook.io/documentation-ecolab-et-agribalyse/' %>
          </button>
          <div class="how">
            <%= link_to "Comment utiliser les données ?" %>
          </div>
        </div>

    </section>

<!-- //////////////////// LOGO ADEME ET AGRIBALYSE ////////////////////////// -->

<!-- <div class="card-container-logo">
  <p class="card-title-logo">Avec</p>
    <div class="home-container-logo">
        <%#= link_to "#" do %>
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
        <%# end %>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('logo_agribalyse.jpg') %>)">
          </div>
        </div>
    </div>
</div> -->



<!-- ////////////////////USECASE////////////////////////// -->


<!-- <div class="card-container-usecase">
  <p class="card-title">Exemple de réutilisateurs</p>
    <div class="home-container-usecase">

      <div class="card-usecase"> -->
        <!-- <img src= <%#= image_path('yuka-usecase.png') %> >
        <div class="card-usecase-infos">
          <div>
            <h2>Comment Yuka a calculé son score produit</h2>
            <p>Short description here!</p>
          </div> -->
          <!-- <h2 class="card-usecase-pricing">£99.99</h2>
          <img class="card-usecase-user avatar-bordered" src= <%#= image_path('yuka-logo.png') %> >
        </div>
      </div> -->

      <!-- <div class="card-usecase">
        <img src= <%#= image_path('carrefour-usecase.jpg') %> >
        <div class="card-usecase-infos">
          <div>
            <h2>Comment Carrefour a réduit l’impact de ses plats préparés</h2>
            <p>Short description here!</p>
          </div>
         <h2 class="card-usecase-pricing">£99.99</h2> -->
          <!-- <img class="card-usecase-user avatar-bordered" src= <%#= image_path('carrefour-logo.jpg') %> > -->
    <!--     </div>
      </div> -->

      <!-- <div class="card-usecase">
        <img src= <%#= image_path('marmiton-usecase.png') %> >
          <div class="card-usecase-infos">
          <div>
            <h2>Marmiton et le calcul d’impact de recettes complexes</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-usecase-pricing">£99.99</h2> -->
          <!-- <img class="card-usecase-user avatar-bordered" src= <%#= image_path('marmiton-logo.png') %> > -->
<!--         </div>
      </div>

    </div>
</div> -->

<!-- /////////////////////// PARTNERS /////////////////////// -->

<!-- <div class="card-container-usecase">
  <p class="card-title-logo">Partenariats en cours</p>
    <div class="home-container-usecasers">
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('frigo-magic-logo-couleur.jpg') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('karbon.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('beta-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('off.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('marmiton-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%#= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
    </div>
</div> -->





<!-- /////////////// CONTRIBUTIONS /////////// -->

  <div class="card-dev">
      <div class="card-dev-infos">
        <h2>Développeurs, intégrez ces données à votre produit</h2>
        <p>API, données CSV, calcul de score, licence de ré-utilisation</p>
      </div>
      <button class="btn-flat-download">
        <%= link_to "Commencer" %>
      </button>
  </div>

<!-- /////////////// FOOTERS /////////// -->




</div>


