
  <div class="hero" role="banner">
    <div class="hero__container">
    <!--   <h1>Découvrez l’impact environnemental de votre assiette</h1> -->
      <p class="search_title">Découvrez l’impact environnemental de votre assiette</p>
      <%= render '/shared/search-bar' %>
      <p class="search_examples">
        Exemples :
        <%= link_to "Carotte", aliments_path(:query => "Carotte")%>,
        <%= link_to "Pizza margherita", aliments_path(:query => "Pizza margherita")%>,
        <%= link_to "Brownie au chocolat", aliments_path(:query => "Brownie au chocolat")%>,
        <%= link_to "Café expresso", aliments_path(:query => "Café expresso")%>
        </p>
    </div>
  </div>

<div class="card-container">
  <p class="card-title">Nos catégories</p>
    <div class="home-container">
        <%= link_to aliments_path(:query => "Plats composés") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Plats composés
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "fruits, légumes, légumineuses et oléagineux") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('fruits-straw.png') %>)">
            Fruits & légumes
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Viandes et poissons") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('meat.png') %>)">
            Viandes et poissons
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Confiserie") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('candy.png') %>)">
            Confiserie
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Condiments") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('pickles.png') %>)">
            Condiments
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Boissons") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('cafe.png') %>)">
            Boissons
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Desserts") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('dessert.png') %>)">
            Desserts
          </div>
        </div>
        <% end %>

        <%= link_to aliments_path(:query => "Lait, oeufs") do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('egg.png') %>)">
            Lait, oeufs
          </div>
        </div>
        <% end %>

      </div>
  </div>

<!-- //////////////////// TEST FRUITS ET LEGUMES DE SAISON /////////////// -->

<div class="card-container">
  <p class="card-title bigger"> 🍊 Il n’y a pas que Netflix qui vous fournit en saison.</p>
    <div class="home-container-saison">
      <div class="phrase-saison">
      <p>Nous sommes le</p>
        <% simple_form_for(@fruit) do |f| %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <p>Je voudrais manger ou cuisiner</p>
        <%= f.input :fruit_leg, label: 'Fruit ou légume' %>
        <%= f.submit "Valider", class: "button"  %>
        <% end %>
      </div>
    </div>
</div>

<!-- //////////////////// TEXTE AGRIBALYSE ////////////////////////// -->

    <section class="section section-grey">
      <div class="container">
        <h2 class="section__title">Agribalyse, données  ADEME de référence pour 2500 produits agro-alimentaires</h2>

        <div class="row">
          <p class="text-p">2500 produits, 14 indicateurs, toutes les informations sur l’alimentation et son impact sur l’environnement</p>
          <p class="text-p">Un comité scientifique de validation et une méthodologie d’après l’analyse de cycle de vie des produits</p>
          <p class="text-p">Un outil pratique à intégrer en phase d’éco-conception ou directement dans vos application via API</p>
        </div>
      </div>
    </section>

    <button class="btn-flat-download">
      <%= link_to "Télécharger" %>
    </button>
    <div class="how">
      <%= link_to "Comment utiliser les données ?" %>
    </div>


<!-- //////////////////// LOGO ADEME ET AGRIBALYSE ////////////////////////// -->

<div class="card-container-logo">
  <p class="card-title-logo">Avec</p>
    <div class="home-container-logo">
        <%= link_to "#" do %>
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
        <% end %>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('logo_agribalyse.jpg') %>)">
          </div>
        </div>
    </div>
</div>



<!-- ////////////////////USECASE////////////////////////// -->
<div class="card-container-usecase">
  <p class="card-title">Ils utilisent nos données</p>
    <div class="home-container-usecase">

      <div class="card-usecase">
        <img src= <%= image_path('yuka-usecase.png') %> >
        <div class="card-usecase-infos">
          <div>
            <h2>Comment Yuka a calculé son score produit</h2>
            <!-- <p>Short description here!</p> -->
          </div>
          <!-- <h2 class="card-usecase-pricing">£99.99</h2> -->
          <img class="card-usecase-user avatar-bordered" src= <%= image_path('yuka-logo.png') %> >
        </div>
      </div>

      <div class="card-usecase">
        <img src= <%= image_path('carrefour-usecase.jpg') %> >
        <div class="card-usecase-infos">
          <div>
            <h2>Comment Carrefour a réduit l’impact de ses plats préparés</h2>
            <!-- <p>Short description here!</p> -->
          </div>
         <!--  <h2 class="card-usecase-pricing">£99.99</h2> -->
          <img class="card-usecase-user avatar-bordered" src= <%= image_path('carrefour-logo.jpg') %> >
        </div>
      </div>

      <div class="card-usecase">
        <img src= <%= image_path('marmiton-usecase.png') %> >
          <div class="card-usecase-infos">
          <div>
            <h2>Marmiton et le calcul d’impact de recettes complexes</h2>
            <!-- <p>Short description here!</p> -->
          </div>
         <!--  <h2 class="card-usecase-pricing">£99.99</h2> -->
          <img class="card-usecase-user avatar-bordered" src= <%= image_path('marmiton-logo.png') %> >
        </div>
      </div>

    </div>
</div>

<!-- /////////////////////// PARTNERS /////////////////////// -->

<div class="card-container-usecase">
  <p class="card-title-logo">Autres études de cas </p>
    <div class="home-container-usecasers">
        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('frigo-magic-logo-couleur.jpg') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('karbon.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('beta-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('off.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('marmiton-logo.png') %>)">
          </div>
        </div>

        <div>
          <div class="card-category-logo" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('ademe-logo.jpg') %>)">
          </div>
        </div>
    </div>
</div>





<!-- /////////////// CONTRIBUTIONS /////////// -->

  <div class="card-dev">
      <div class="card-dev-infos">
        <h2>Développeurs, intégrez ces données à votre produit</h2>
        <p>API, données CSV, calcul de score, licence de ré-utilisation</p>
      </div>
      <button class="btn-flat-commencer">
        <%= link_to "Commencer" %>
      </button>
  </div>

<!-- /////////////// FOOTERS /////////// -->

<footer class="footer" role="contentinfo">
    <div class="container">
      <div class="footer__logo">
        <img src= <%= image_path('ademe-logo.jpg') %>>
        <div class="footer-reseaux">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="text-bloc">
        <ul class="footer__links">
          <li><h2>Ecolab</h2></li>
          <li><a href="https://www.data.gouv.fr/reference">Qui sommes-nous ?</a></li>
          <li><a href="https://www.data.gouv.fr/terms">Les start-ups d’état</a></li>
          <li><a href="https://www.data.gouv.fr/api">Mentions légales</a></li>
          <li><a href="https://www.data.gouv.fr/api">Contactez-nous !</a></li>
        </ul>

        <ul class="footer__links">
          <li><h2>Aidez-nous à améliorer cet outil</h2></li>
          <li><a href="https://www.data.gouv.fr/reference">Contribuer sur Github</a></li>
          <li><a href="https://www.data.gouv.fr/terms">Envoyer une suggestion</a></li>
          <li><a href="https://www.data.gouv.fr/api">Proposez vos données</a></li>
        </ul>

        <ul class="footer__links">
          <li><h2>En collaboration avec</h2></li>
          <li><a href="https://www.data.gouv.fr/reference">Ademe</a></li>
          <li><a href="https://www.data.gouv.fr/terms">Agribalyse</a></li>
          <li><a href="https://www.data.gouv.fr/api">Beta.gouv</a></li>
        </ul>
      </div>

      <ul class="footer__links"></ul>
    </div>
  </footer>


</div>


