
  <div class="hero" role="banner">
    <div class="hero__container">
    <!--   <h1>Découvrez l’impact environnemental de votre assiette</h1> -->
      <p class="search_title">Découvrez l’impact environnemental de votre assiette</p>
      <%= render '/shared/search-bar' %>
      <p class="search_examples"> Exemples : Carotte, Pizza margherita, Brownie au chocolat, Brochette de boeuf, Café moulu</p>
    </div>
  </div>


<p class="card-title">Nos catégories</p>
  <div class="card-container">
    <div class="home-container">
        <%= link_to "#" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('ail.png') %>)">
            Légumes
          </div>
        </div>
        <% end %>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('fruits-straw.png') %>)">
            Fruits
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Plats
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('ail.png') %>)">
            Viandes
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Miam
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Miam
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Miam
          </div>
        </div>

        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('breakfast.png') %>)">
            Miam
          </div>
        </div>

      </div>
  </div>

<!-- <div class="db-container">
  <div class="title">
  </div>
  <div class="db-card">

    <div class="card-reuse">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-reuse-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-reuse-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-reuse-user avatar-bordered" />
      </div>
    </div>

    <div class="card-reuse">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-reuse-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-reuse-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-reuse-user avatar-bordered" />
      </div>
    </div>

    <div class="card-reuse">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-reuse-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-reuse-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-reuse-user avatar-bordered" />
      </div>
    </div>

    <div class="card-reuse">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-reuse-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-reuse-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-reuse-user avatar-bordered" />
      </div>
    </div>


  </div>
 -->
</div>


