<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Impact carbone - NosGEStesclimat, simulateur d'empreinte carbone individuelle pour passer à l'action" %>
<% content_for :meta_description, "Aider vos utilisateurs à visualiser leur impact GES (Gaz à effet de serre) et à agir pour le réduire" %>
<% content_for :meta_image, image_path("Climat/ecolab-impactcarbone.PNG") %>

<div class="fil-ariane-bar">
  <p id="accueil" class="fil-ariane-texte"><a href="/">Accueil</a></p>
  <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte">Secteur</p>
  <i class="fas fa-chevron-right"></i>
  <p class="fil-ariane-texte"><a href="/impactcarbone">Impact carbone</a></p>
</div>

<div class="hero" role="banner">
  <div class="hero__container hero__container_landing p-5" style="background: linear-gradient(0deg, white, $blue);">
    <%#= image_tag("data.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
    <img class="images-banner" id="trotti" src="<%= image_path('Climat/town') %>"/>
    <div class="texts-banner">
      <h1 class="banner_title-trans">Nos GEStes climat</h1>
      <%#= render '/shared/search-bar' %>
      <p class="banner_subtitle">Aider vos utilisateurs à visualiser leur impact GES (Gaz à effet de serre) et à agir pour le réduire.</p>
      <div class="how">
        <%= link_to "🖺 Mieux comprendre les enjeux", 'https://ecolab.ademe.fr/blog/g%C3%A9n%C3%A9ral/budget-empreinte-carbone-c-est-quoi.md', target: "_blank" %>
      </div>
      <div class="how">
        <%= link_to "▶️ Accéder aux ressources du webinaire (replay, présentation ...)", 'https://ecolab.gitbook.io/documentation-ecolab/carbone/webinaire-carbone', target: "_blank" %>
      </div>
      <a href="https://nosgestesclimat.fr"><button class="btn btn-red mt-3">Accéder au simulateur NosGEStesClimat</button></a>
    </div>
    <img class="images-banner" src="<%= image_path('Climat/online') %>"/>
  </div>
</div>

<!-- Explication pourquoi faire son bilan climat/empreinte carbone perso -->
<section class="section">
  <h4 class="section__title section-margin">Utilisez le simulateur d'empreinte carbone individuelle dans vos produits et services</h2>

  <div class="element-text">
    <div class="text-p">
      <strong class="titre-p mb-2"></strong>
      <p>L'empreinte carbone correspond aux émissions de gaz à effet de serre liées à notre consommation, c’est à dire notre mode de vie (i.e. notre alimentation, nos transports, notre logement).</p>
    </div>
    <div class="text-p">
      <strong class="titre-p mb-2"></strong>
      <p>Son intérêt est double : s'informer et comprendre d'où viennent nos activités les plus néfastes pour le climat et agir à notre échelle afin de réduire nos émissions sur les postes qui en valent la peine.</p>
    </div>
    <div class="text-p">
      <strong class="titre-p mb-2"></strong>
      <p>Développé avec l'Association Bilan Carbone, ce simulateur vous permet d'évaluer votre empreinte carbone individuelle, puis de choisir des actions concrètes pour la réduire. Il est basé sur le modèle MicMac des associations Avenir Climatique et TaCa.</p>
    </div>
  </div>
  <%#= link_to "Budget et empreinte carbone, c'est quoi ?", 'https://ecolab.ademe.fr/blog/g%C3%A9n%C3%A9ral/budget-empreinte-carbone-c-est-quoi.md', class:"btn btn-blue" %>
  <%#= link_to "Documentation", '/agribalyse', class:"how" %>

  <%#= link_to "Découvrez les données ouvertes", '/agribalyse', class:"how" %>
</section>
<!-- fin de l'explication -->

<!-- Section integrer le simulateur -->
<div class="d-flex flex-column">
  <div class="section-carb section-droite section-demandeur d-flex align-items-center justify-content-center">
    <div class="text-p d-flex flex-column align-items-center justify-content-end pt-5 pb-5">
      <h4>Intégrez ce simulateur directement à votre site</h4>
      <p>Intégrez le dans un article de blog, un site ou une application simplement en ajoutant cette ligne à votre page Web. Le module restera automatiquement à jour avec les données les plus récentes.
      </p>
      <code class="language-html" data-lang="html">
          &lt;script id="ecolab-climat" src="https://nosgestesclimat.fr/iframe.js"&gt;&lt;/script&gt;
      </code>
      <p class="mt-3">ou accéder directement au code open source</p>
      <%= link_to "Github", 'https://github.com/betagouv/ecolab-climat', target: "_blank", class: "btn btn-red mt-3" %>
      <%= link_to "Fichiers yaml du modèle de calcul", 'https://github.com/betagouv/ecolab-data/tree/master/data', target: "_blank", class: "how" %>
    </div>
    <img src="<%= image_path('Climat/appli.svg') %>" />
  </div>
</div>

<!-- temoignages -->
<div class="reu-container reu-ngc">
  <p class="reu-title">Ils intègrent ou mentionnent NosGEStesClimat</p>
  <div class="reu-list d-flex flex-row flex-wrap justify-content-center">

    <%= link_to "https://agirpourlatransition.ademe.fr/particuliers/testez-vos-connaissances/connaissez-empreinte-climat", alt: "ADEME - Connaissez-vous votre empreinte sur le climat ?", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('logos/ademe-logo.jpg') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://alternativi.fr/calculer-son-impact-carbone-avec-le-simulateur-de-l-ademe/614", alt: "Alternativi - Simulateur carbone", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/alternativi.svg') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://avenirclimatique.org/micmac/index.php", alt: "Avenir Climatique MicMac", target: "_blank" do %>
      <div class="reu-category" style="background-size: contain; background-repeat: no-repeat;background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/logo_AC_simple_100px.png') %>);">
      </div>
    <% end %>

    <%= link_to "https://bonpote.com/comment-calculer-son-empreinte-carbone/", alt: "BonPote - Calculer son empreinte carbone", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/bonpote.webp') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://www.franceculture.fr/emissions/la-transition/bilan-carbone-en-dessous-de-la-moyenne", alt: "France Culture - Bilan carbone en dessous de la moyenne", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/franceculture.png') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://www.franceinter.fr/emissions/le-debat-de-midi/le-debat-de-midi-05-aout-2020", alt: "France Inter - Débat de midi 5 août 2020", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/franceinter.png') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://www.grenoble.fr/1973-gestes-eco-citoyens-comment-agir-au-quotidien.htm", alt: "Grenoble - Gestes éco-citoyens", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('transport/grenoble.png') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://www.lemonde.fr/planete/article/2020/09/14/comment-calculer-et-surtout-reduire-son-empreinte-carbone_6052039_3244.html", alt: "Le Monde - Calculer et réduire son empreinte carbone", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/lemonde.png') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://www.nicematin.com/environnement/combien-je-pese-en-equivalent-carbone-et-comment-faire-pour-perdre-un-peu-de-poids-578029", alt: "Nice Matin - Combien je pèse en équivalent carbone", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/nicematin.png') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://save4planet.com/bilan-carbone", alt: "Save4Planet - EMPREINTE CARBONE", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('transport/save4plan.png') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

    <%= link_to "https://www.varmatin.com/environnement/combien-je-pese-en-equivalent-carbone-et-comment-faire-pour-perdre-un-peu-de-poids-578029", alt: "Var Matin - Combien je pèse en équivalent carbone", target: "_blank" do %>
      <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/varmatin.png') %>); background-size: contain !important; background-repeat: no-repeat;">
      </div>
    <% end %>

  </div>
</div>

<div class="reu-container reu-bc">
  <p class="reu-title">Ils intègrent et réutilisent les données de la Base Carbone</p>
  <div class="reu-list d-flex flex-row flex-wrap justify-content-center">
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/aktio.png') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/carbo.png') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/comptecarbone.png') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/escapehoriz.png') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/moneythor.png') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/onlyone.svg') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/paygreen.png') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
    <div class="reu-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('Climat/reutilisateurs/vidaloca.png') %>); background-size: contain !important; background-repeat: no-repeat;">
    </div>
  </div>
</div>


<!-- Section données lien vers github -->
<div class="d-flex flex-column">
  <div class="section-trans section-gauche section-demandeur d-flex align-items-center justify-content-center pt-5 pb-5">
    <img src="<%= image_path('Climat/data2') %>"/>
    <div class="text-p d-flex flex-column align-items-center">
      <h4>Enrichissez vos produits avec les données ouvertes</h4>
      <p>La Base Carbone® est une base de données publique de facteurs d'émissions, nécessaires à la réalisation d’un bilan d’émissions de gaz à effet de serre (GES) et plus généralement tout exercice de comptabilité carbone.
      </p>
      <%= link_to "Base Carbone® (Open Data)", 'https://data.ademe.fr/datasets/base-carbone(r)', target: "_blank", class: "btn btn-yellow mt-3" %>
    </div>
  </div>
</div>

<%= render '/shared/newsletter' %>
<%= render '/shared/twitter' %>
