
<div class="hero" role="banner">
    <div class="hero__container hero__container_landing p-5" style="background: linear-gradient(0deg, white, #7DDFC3);">

      <%#= image_tag("data.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('transport/undraw_scooter_aia8.svg') %>"/>

        <div class="texts-banner">
          <h1 class="banner_title-trans">L'impact de nos déplacements sur le climat</h1>
          <%#= render '/shared/search-bar' %>
          <p class="banner_subtitle">Chiffrer notre impact et adapter notre mobilité quotidienne à des modes de transport moins émetteurs en carbone.</p>

          <button class="btn-discover simple mt-3">
            <%= link_to "Article de blog", 'https://ecolab.ademe.fr/blog/transport/impact-carbone-mobilite-eco-deplacement.md', target: "_blank" %>
          </button>
        </div>
      <%#= image_tag("empreinte.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('transport/undraw_Ride_a_bicycle_2yok.svg') %>"/>
    </div>
</div>

<section class="section">
  <h2 class="section__title">Découvrez nos premières propositions d’utilisation des données</h2>

  <div class="element-text">
    <div class="text-p">
      <strong class="titre-p mb-2">Des données ouvertes, pour tous</strong>
      <p>Disponibles en OpenData, ces données  sont libres, en simple consultation, ou pour être réutilisées dans votre service. Base Carbone, publiques et gratuite de “facteurs d'émissions”, ouverte le <strong>04 mai 2020</strong>.</p>
      </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Des données fiables et en constante évolution</strong>
      <p>Ces données sont directement mis à disposition par les opérateurs de transports dans le cadre de l’information GES, le calculateur de la Direction générale de l'aviation civile, calculées à partir de statistiques nationales et modélisées : bus, cars, deux-roues motorisées.
      </p>
    </div>
    <div class="text-p">
      <strong class="titre-p mb-2">Objectif : vers la neutralité carbone en 2050</strong>
      <p>Communiquer sur les enjeux d'une mobilité bas carbone au grand public, comprendre la mesure des kg et tonnes de CO2 équivalents et encourager le report modal pour diminuer les émissions du transport.</p>
    </div>
  </div>

  <div class="place-du-button-et-lien">
    <button class="btn-discover simple">
      <%= link_to "Lien vers le dépôt Github", 'https://github.com/betagouv/ecolab-transport' %>
    </button>
    <div class="how">
      <%= link_to "Fichier données", "https://github.com/betagouv/ecolab-transport/blob/master/ges-transport.yaml" %>
    </div>
  </div>

</section>



<div class="container" style="height: fit-content; background-color: white; padding: 4vh; border-radius: 30px; margin-top: 11vh; margin-bottom: 11vh;">
<script id="ecolab-transport" data-couleur="purple" src="https://ecolab-transport.netlify.com/iframe.js"></script>

</div>

<div class="section-trans section-demandeur">
    <img src="<%= image_path('transport/data.svg') %>"/>
  <div class="text-p d-flex flex-column align-items-center ml-5">
    <p><strong>Vous aussi participez à nos ateliers utilisateurs et intégrez les données impact environnemental transport</strong></p>
      <span></span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ab eligendi neque aspernatur impedit dolore nemo quod ad asperiores dolorum! Reprehenderit animi doloremque numquam ducimus eius labore tenetur corporis voluptate!</p>
    <button class="btn-discover simple mt-3">
      <%= link_to "Jeux de données disponibles", 'https://ecolab.gitbook.io/documentation-ecolab/reutiliser-les-donnees-1', target: "_blank" %>
    </button>

</div>

</div>
<div class="card-container">
  <p class="card-title">Ils ont intégré notre calculateur</p>
    <div class="home-container">
        <%= link_to "https://www.notrechoix.org/quel-est-limpact-de-vos-trajets/", target: "_blank" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path('transport/notrechoix.png') %>); height: 200px !important;">
          </div>
        </div>
        <% end %>

        <%= link_to "https://www.ademe.fr/particuliers-eco-citoyens/deplacements/calculer-emissions-carbone-trajets", target: "_blank" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path('ademe-logo.jpg') %>); height: 200px !important; background-size: contain !important; background-repeat: no-repeat;">
          </div>
        </div>
        <% end %>

        <%= link_to "https://wiki.lafabriquedesmobilites.fr/wiki/Accueil", target: "_blank" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path('transport/fabrique.png') %>); height: 200px !important;">
          </div>
        </div>
        <% end %>

      </div>
  </div>


