
<div class="hero" role="banner">
    <div class="hero__container hero__container_landing p-5" style="background: linear-gradient(0deg, white, #7DDFC3);">

      <%#= image_tag("data.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('transport/undraw_scooter_aia8') %>"/>

        <div class="texts-banner">
          <h1 class="banner_title-trans">L'impact des déplacements sur le climat</h1>
          <%#= render '/shared/search-bar' %>
          <p class="banner_subtitle">Des données ouvertes pour une mobilité moins émettrice en CO2.</p>

          <div class="how">
            <%= link_to "Mieux comprendre les enjeux", 'https://ecolab.ademe.fr/blog/transport/impact-carbone-mobilite-eco-deplacement.md', target: "_blank" %>
          </div>
        </div>
      <%#= image_tag("empreinte.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('transport/undraw_Ride_a_bicycle_2yok.svg') %>"/>
    </div>
</div>

<div style="background-color: white;">
    <div class="container align-text-center" style="height: fit-content; background-color: white; padding: 4vh; border-radius: 30px;">
      <h2 class="section__title mt-5 mb-5">PROPOSITION #1 : Encourager le report modal en chiffrant et comparant l’ensemble des modes de transport</h2>
    <script id="ecolab-transport" data-couleur="purple" src="https://ecolab-transport.netlify.com/iframe.js"></script>

    </div>

</div>



<!-- Sections -->

<div class="d-flex flex-column">
  <div class="section-trans section-demandeur">
      <img src="<%= image_path('transport/data.svg') %>"/>
    <div class="text-p d-flex flex-column align-items-center ml-5">
      <p><strong>Vous aussi participez à nos ateliers utilisateurs et intégrez les données impact environnemental transport</strong></p>
        <span></span>
      <p>Sous forme d’iframe ou en ré-utilisant le jeu de donneées format csv, json ou api.</p>
        <%= link_to "Commencer", 'https://ecolab.gitbook.io/documentation-ecolab/reutiliser-les-donnees-1', target: "_blank", class:"btn btn-grey mt-3" %>
    </div>
  </div>


  <div class="section-trans section-demandeur">
    <div class="text-p d-flex flex-column align-items-center ml-5">
      <p><strong>Vous aussi participez à nos ateliers utilisateurs et intégrez les données impact environnemental transport</strong></p>
        <span></span>
      <p>Sous forme d’iframe ou en ré-utilisant le jeu de donneées format csv, json ou api.</p>
        <%= link_to "Commencer", 'https://ecolab.gitbook.io/documentation-ecolab/reutiliser-les-donnees-1', target: "_blank", class:"btn btn-grey mt-3" %>
      </div>
      <img src="<%= image_path('transport/data.svg') %>"/>
  </div>
</div>



<!-- Re-utilisateurs -->

</div>
<div class="card-container">
  <p class="card-title">Ils ont intégré notre calculateur</p>
    <div class="d-flex">
        <%= link_to "https://www.notrechoix.org/quel-est-limpact-de-vos-trajets/", target: "_blank" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('transport/notrechoix.png') %>); height: 200px !important;">
          </div>
        </div>
        <% end %>

        <%= link_to "https://www.ademe.fr/particuliers-eco-citoyens/deplacements/calculer-emissions-carbone-trajets", target: "_blank" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('ademe-logo.jpg') %>); height: 200px !important; background-size: contain !important; background-repeat: no-repeat;">
          </div>
        </div>
        <% end %>

        <%= link_to "https://wiki.lafabriquedesmobilites.fr/wiki/Accueil", target: "_blank" do %>
        <div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('transport/fabrique.png') %>); height: 200px !important;">
          </div>
        </div>
        <% end %>

      </div>
  </div>


