<% content_for :meta_title, @meta['titre'] %>
<% content_for :meta_description, @meta['intro'] %>
<% content_for :meta_image, image_path(@meta['image']) %>

<main role="main" class="container" >
    <div class="col-md-8 blog-main mx-auto">
      <div class="blog-post">
      <header>
        <h1><%= @meta['titre'] %></h1>
        <em>Publié le <%=@meta['date']%> dans <a href="/blog/<%=@meta['catégorie']%>">
        <span class="badge badge-info"><%=@meta['catégorie']%></span></a>
        </em>
        <img alt="<%= @meta['description de l\'image'] %>" width="100%" src="<%= image_path(@meta['image']) %>" />
      </header>
        <%= raw @content %>
      </div><!-- /.blog-post -->
      <p id="article-tags"><% @meta['tags'].each do |tag| %>
        <a href="/blog/<%=tag%>"><span class="badge badge-light"><%= tag %></span></a>
      <% end %></p>

    </div><!-- /.blog-main -->

</main>

