<div class="m-5">
    <a href="/blog"><h1>Le blog</h1></a>
    
    <div class="row mb-2" id="articles">

    <% @articles.each do |article| %>
        <div class="col-md-6">
        <div class="article-card row row align-items-center no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0"><%= article['titre'] %></h3>
            <div class="mb-1 text-muted"><%= article['date'] %> <span class="badge badge-info"><%= article['catégorie'] %></span></div>
            <p class="card-text mb-auto"><%=  article['intro']%></p>
            <a class="stretched-link" href="<%= article['url'] %>">Lire la suite</a>
            <p id="tags"><% article['tags'].each do |tag| %>
                <span class="badge badge-light"><%= tag %></span>
            <% end %></p>
        </div>
        <div class="col-auto d-none d-lg-block p-4">
            <img height="200px" src="<%= image_path(article['image']) %>" />
        </div>
        </div>
        </div>
    <% end %>
    </div>
</div>
