<div id="blog" class="container">
    <h1>Le blog d'Ecolab</h1>

    <div class="d-flex flex-row align-items-center flex-wrap justify-content-center">
      <%= form_tag blog_path, method: :get, class: "searchbar form-inline search-form-control" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "td form-control",
          placeholder: "Chercher un article de blog par catégorie ou tag"
        %>
      <!--   <i class="fas fa-search"></i> -->
      <% end %>

      <%= link_to "Nouvelle recherche", blog_path, :query => params[:query], class:"btn btn-grey ml-3" %>
    </div>

    <div class="row mb-2" id="articles">


    <% @articles.each do |article| %>
        <div class="col-md-6">
        <div class="article-card row row align-items-center no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

            <h3><%= article['titre'] %></h3>
            <div class="mb-1 text-muted"><%= article['date'] %> <span class="badge badge-info"><%= article['catégorie'] %></span></div>
            <p class="card-text mb-auto"><%=  article['intro']%></p>
            <a class="stretched-link" href="<%= article['url'] %>">Lire la suite</a>
            <div class="tags"><% article['tags'].each do |tag| %>
                <span class="badge badge-light"><%= tag %></span>
            <% end %></div>
        </div>
        <div class="col-auto d-none d-lg-block p-4">
            <img height="200px" src="<%= image_path(article['image']) %>" />
        </div>
        </div>
        </div>
    <% end %>
    </div>
</div>
