<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ecolab</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon (2).ico'%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <meta name="google-site-verification" content="7-UegUQZf2AqbnhDoJ6ZXk8OPS-B-TSnCFsMK8fngUw" />
  </head>
  <body>
    <%= render 'shared/navbar'  %>
    <%#= render 'shared/flash'  %>
    <%= yield %>
    <%= render 'shared/footer'  %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>


  </body>
</html>
